# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
flutter_*.png

# VS Code settings
.vscode/
.idea/

# Others
*.iml
pubspec.lock
